@if ((foraging$ | async)?.loading) {
  <app-loading/>
} @else if ((foraging$ | async)?.foraging?.collectable == true) {
  <div id="layout" class="layout">
    <div id="component" class="component">
      <div id="header" class="header"><h2>Your Foraging ended</h2></div>
      <div>Collect your Reward of<br>
        <b>{{ (foraging$ |async)?.foraging?.reward?.circle }} Circle</b><br>
        <b>{{ (foraging$ |async)?.foraging?.reward?.triangle }} Triangle</b><br>
        <b>{{ (foraging$ |async)?.foraging?.reward?.rectangle }} Rectangle</b>
      </div>
      <button mat-flat-button (click)="collectReward()">Collect Reward</button>
    </div>
  </div>
} @else {
  <div class="layout">
    <mat-card class="component">
      <mat-card-header class="header"><h2>You are Foraging</h2></mat-card-header>
      <mat-card-content>Your Foraging ends at
        <h4>{{ (foraging$ |async)?.foraging?.endTime | date:'dd/MM HH:mm' }}</h4>
      </mat-card-content>
      <button mat-flat-button (click)="stopForaging()">Stop Foraging</button>
    </mat-card>
  </div>
}

<mat-card>
  <mat-card-header>Bullshit</mat-card-header>
  <mat-card-content>Is nice</mat-card-content>
</mat-card>
