<div id="layout">
  <div id="component">
    <div> How long do you want to work for? (Hours)</div>
    <mat-slider step="1" max="10" min="1" >
      <input matSliderThumb [formControl]="workHoursFormControl">
    </mat-slider>
    <div>You are going to work for <b>{{ workHoursFormControl.value! }} hours</b>.</div>
    <div><b>Reward:{{ (workHoursFormControl.value! * 0.1).toFixed(2) }}</b></div>
    <button mat-flat-button color="primary" (click)="startWork()">Start Work</button>
  </div>
</div>
