#container{
  height: 100%;
  grid-template-areas: "header header header"". pet ." ". . .";
  grid-template-rows: minmax(0px, 100px) minmax(50px, auto) minmax(0px, 100px);
  grid-template-columns: minmax(0px, auto) minmax(50px, auto) minmax(0px, auto);
  grid-gap: 5px;
}

app-pet{
  grid-area: pet;
}

#containerheader{
  grid-area: header;
  text-align: center;
}
