.pets{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: black solid 1px;
  flex-grow: 1;
  height: 100%;
}

app-petoverview{
  width: 30%;
  height: 30%;
  margin: 5px;
}
