#container{
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.pet{
  width: 100%;
  height: 100%;
  position: absolute;
}

.circle{
  border-radius: 50%;
}

.triangle{
  border-radius: 50% 50% 0 0;
}

:host{
  height: fit-content;
}
