@if (work == undefined){
  <div> How long do you want to work for? (Hours)</div>
  <input #workhoursselect type="range" step="1" max="10" min="1" (input)="updateWorkValue($event)">
  <div>You are going to work for {{workHours}} hours.</div>
  <div>Reward: {{(workHours * 0.1).toFixed(2)}}</div>
  <button (click)="startWork()">Start Work</button>
} @else{
  <div>You are already on an activity</div>
  <div>Activity finishes at {{work.endTime}}</div>
  <div>You will receive {{work.reward}} GeoCoin</div>
  <button (click)="stopWork()">Stop Activity</button>
}
