<div class="screen-layout">
  <div class="screen-header"><h2>Work</h2></div>
  @if ((activity$ |async)?.loading) {
    <app-loading></app-loading>
  } @else if ((activity$ |async)?.activity == undefined) {
    <app-start-work class="screen-component"/>
  } @else if ((activity$ |async)?.activity?.type != "WORK") {
    <div class="screen-component" >You are on another activity</div>
  } @else if ((activity$ |async)?.activity?.type == "WORK") {
    <app-work-activity class="screen-component"/>
  }
</div>


