#sidebar-layout {
  border: black solid 1px;
  height: 100%;
  grid-template-areas:
    "balances"
    "pets"
    "work"
    "petshop";
  grid-template-rows: fit-content(4em) fit-content(4em) fit-content(4em) fit-content(4em);
}

.sidebar-item {
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  text-align: center;
  padding: 10px 0;
}

#balances {
  grid-area: balances;
}
