#sidebar-layout {
  border: black solid 1px;
  height: 100%;
  grid-template-areas:
    "balances"
    "pets"
    "work"
    "petshop";
}

.sidebar-item {
  text-align: center;
  display: block;
  padding: 10px 20px;
  border-top: gray solid 1px;
  border-bottom: gray solid 1px;

}

.sidebar-item-top{
  text-align: center;
  display: block;
  padding: 20px;
  border-bottom: gray solid 1px;
}

.sidebar-item-bottom{
  text-align: center;
  display: block;
  padding: 10px 20px 20px;
  border-top: gray solid 1px;
}

#balances {
  grid-area: balances;
}

h1 {
  padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
}

mat-sidenav-container {
  height:100%;
}

mat-sidenav {
  padding-top: 3.5rem;
  transition: width 0.3s ease;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0.75rem;
  }

}

mat-sidenav-content{
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}

.expanded {
  width: 250px;
}
