#container {
  height: 100%;
  display: grid;
  grid-template-areas:
  "details pet ";
  grid-template-rows:  minmax(50px, auto);
  grid-template-columns: minmax(0px, 5fr) minmax(50px, 4fr);
  grid-gap: 5px;
  padding: 10px;
}

app-pet {
  grid-area: pet;
  height: 100%;
}

#pet-details {
  grid-area: details;
}

#foodbar {
  width: 100%;
  height: 50px;
  border: black solid 1px;
  border-radius: 10px;
  background-color: lightgrey;
  text-align: center;
}

#foodbarfill {
  background-color: darkgreen;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}

#hungerform * {
  display: inline-block;
  height: 100%;
}

input {
  width: 100%;
}
