<div id="container">
  @if ((pets$ | async)?.loading) {
    <app-loading></app-loading>
  } @else if ((pet$ | async) == undefined) {
    <div>Error please go back to pets</div>
  } @else {
    <div id="pet-details">
      <div>
        <h3>Hunger: {{ (pet$ | async)!.hunger.toFixed(1) }} / 100.0</h3>
        <div id="foodbar">
          <div id="foodbarfill"
               [ngStyle]="{'width': (pet$ | async)!.hunger + '%'}">
          </div>
        </div>
        <div id="hungerform">
         <button (click)="feedPet()">Feed</button>
        </div>
      </div>
    </div>
    <app-pet [pet]="(pet$ | async)!"></app-pet>
  }
</div>



