$primary: (
  50 : #e2e6eb,
  100 : #b7c0cd,
  200 : #8896ab,
  300 : #586b89,
  400 : #344c70,
  500 : #102c57,
  600 : #0e274f,
  700 : #0c2146,
  800 : #091b3c,
  900 : #05102c,
  A100 : #6686ff,
  A200 : #335eff,
  A400 : #0035ff,
  A700 : #0030e6,
  contrast: (
    50 : #102c57,
    100 : #102c57,
    200 : #102c57,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #05102c,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$accent: (
  50 : #fbf8f4,
  100 : #f4ede5,
  200 : #ede2d3,
  300 : #e6d6c1,
  400 : #e0cdb4,
  500 : #dbc4a7,
  600 : #d7be9f,
  700 : #d2b696,
  800 : #cdaf8c,
  900 : #c4a27c,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff1e3,
  A700 : #ffe5c9,
  contrast: (
    50 : #05102c,
    100 : #05102c,
    200 : #05102c,
    300 : #05102c,
    400 : #05102c,
    500 : #05102c,
    600 : #05102c,
    700 : #05102c,
    800 : #05102c,
    900 : #05102c,
    A100 : #05102c,
    A200 : #05102c,
    A400 : #05102c,
    A700 : #05102c,
  )
);



$warn: (
  50 : #fee8e7,
  100 : #fcc7c3,
  200 : #faa19b,
  300 : #f77b72,
  400 : #f65f54,
  500 : #f44336,
  600 : #f33d30,
  700 : #f13429,
  800 : #ef2c22,
  900 : #ec1e16,
  A100 : #ffffff,
  A200 : #ffe9e9,
  A400 : #ffb8b6,
  A700 : #ff9f9c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);




