html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.game-screen {
  max-height: 100%;
  height: 100%;
  display: block;
}

.screen-layout {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas:
    'header header header'
    '. component .'
    'footer footer footer';

  grid-template-rows: fit-content(100px) auto fit-content(100px);
  grid-template-columns: fit-content(50px) auto fit-content(50px);
}

.screen-header {
  grid-area: header;
  text-align: center;
}

.screen-component {
  height: 100%;
  width: 100%;
  grid-area: component;
}

