mat-drawer-container {
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  padding-top: 3.5rem;
  transition: width 0.3s ease;
}


.expanded {
  width: 250px;
}

app-sidebar{
  transition: width 0.3s ease;
}

mat-sidenav, mat-sidenav-content {
  padding-top: 4rem;
  padding-bottom: 2rem;
  transition: width 0.3s ease;
}
