mat-drawer-container {
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background: #EADBC8;
  padding-top: 3.5rem;
  transition: width 0.3s ease;
}

mat-sidenav-content{
  background-color: #FEFAF6;
}

.expanded {
  width: 250px;
}

mat-sidenav, mat-sidenav-content {
  padding-top: 4rem;
  padding-bottom: 2.2rem;
  transition: width 0.3s ease;
}
