@if (activity == undefined){
  <div> How long do you want to work for? (Hours)</div>
  <input #workhoursselect type="range" step="1" max="10" min="1" (change)="updateWorkValue($event)">
  <div>You are going to work for {{workHours}} hours.</div>
  <div>Reward: {{(workHours * 0.1).toFixed(2)}}</div>
  <button (click)="startWork()">Start Work</button>
} @else{
  <div>You are already on an activity</div>
  <div>Activity finished at {{activity.endTime}}</div>
  <div>You will receive {{activity.reward}} GeoCoin</div>
  <button (click)="stopActivity()">Stop Activity</button>
}
